:root{
  --bg-main : rgb(228, 228, 228);
  --text-color : #000;
  --button-bg : rgb(228, 228, 228); 
}

*{
  box-sizing: border-box;
}

button{
  background-color: var(--button-bg);
  color: var(--text-color);
}

body{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  background: var(--bg-main);
  color: var(--text-color);
}

body[data-theme="dark"]{
  --bg-main : #000;
  --text-color : #fff;
  --button-bg : #000;
}


body[data-theme="light"]{
  --bg-main : rgb(228, 228, 228);
  --text-color : #000;
  --button-bg : rgb(228, 228, 228);
}